**

!requirements.txt
!src/
!src/main/
!src/main/lua/
!src/main/lua/*.lua
!src/main/docker/
!src/main/docker/*
!src/main/resources/
!src/main/resources/TypeSystemDiarization.xml
!src/main/python/
!src/main/python/*.py
!src/main/python/duui/
!src/main/python/duui/*.py
!src/main/python/models/
!src/main/python/models/*.py